*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Satisfy', cursive;
}

.clear{
	clear:both;
}

.inicio{
	background-image: url("../imagens/01.jpg");
	width:100%;
	height:600px;
	margin-top:-30px;
	

}

.inicio h1{

	margin-top:30px;
	text-align: center;
	font-size: 80px;
	color:black;

}

.inicio p {
	color:rgb(12, 12, 12);
	font-size: 20px;
	float:right
}

nav{
	width:20%;
	height:400px;
	float:left;
	background-color:tomato;

}

.menu{
	font-size: 30px;
	margin-left:50px;
	margin-top:30px;
}

section{
	width:80%;
	height:400px;
	float:right;
	background-color:aquamarine;
	
}

.texto{
	font-size: 40px;
	text-align: center;
	margin-top:30px;
}

aside{
	width:100%;
	height:400px;
	background-color: chartreuse;
}

footer{
	width:100%;
	height:150px;

}

.final h3{
	margin-top:30px;
	margin-left:30px;
	font-size:30px;
}

 @media screen and (max-width: 1040px){
	.texto{
		font-size: 30px;
		text-align: center;
		margin-top:30px;
	}
	.menu{
		font-size: 20px;
		margin-left:50px;
		margin-top:30px;
	}
 }

 @media screen and (max-width: 800px){
	section{
		width:100%;
		height:400px;
		float:right;
		background-color:aquamarine;
		
	}
	
	nav{
		width:100%;
		height:400px;
		float:left;
		background-color:tomato;

	}
	.menu{
		font-size: 50px;
		margin-left:50px;
		margin-top:30px;
	}
	


}

@media screen and (max-width: 380px){
	section{
		width:100%;
		height:450px;
		float:right;
		background-color:aquamarine;
		
	}
	.inicio h1{

		margin-top:30px;
		text-align: center;
		font-size: 50px;
		color:black;
	
	}
	.menu{
		font-size: 30px;
		margin-left:50px;
		margin-top:30px;
	}

	.texto{
		font-size: 20px;
		text-align: center;
		color:red;
	}
	
	
}